<section class="section_pricing">
    <div class="container">
        <div class="pricing__content--wrapper">
            <h2 class="section__title pricing__title">Fork Subscription Pricing</h2>
            <div class="pricing__cards--wrapper">
                <div class="card__standart">
                    <div class="standart__card--header">
                        Students
                    </div>
                    <div class="standart__card--body">
                        <div class="standart__card--price">$<span>29</span></div>
                        <div class="standart__card--validity">per month</div>
                        <div class="standart__card--license">Personal License</div>
                        <a class="standart__card--purchase" href="/">purchase</a>
                    </div>
                </div>
                <div class="card__standart">
                    <div class="standart__card--header">
                        professional
                    </div>
                    <div class="standart__card--body">
                        <div class="standart__card--price">$<span>59</span></div>
                        <div class="standart__card--validity">per month</div>
                        <div class="standart__card--license">Professional License<br>Email Support</div>
                        <a class="standart__card--purchase" href="/">purchase</a>
                    </div>
                </div>
                <div class="card__active">
                    <div class="active__card--header">
                        agency
                    </div>
                    <div class="active__card--body">
                        <div class="active__card--price">$<span>99</span></div>
                        <div class="active__card--validity">per month</div>
                        <div class="active__card--license">1-12 Team Members<br>Phone Support</div>
                        <a class="active__card--purchase" href="/">purchase</a>
                    </div>
                </div>
                <div class="card__standart">
                    <div class="standart__card--header">
                        enterprise
                    </div>
                    <div class="standart__card--body">
                        <div class="standart__card--price">$<span>159</span></div>
                        <div class="standart__card--validity">per month</div>
                        <div class="standart__card--license">Unlimited Team Members<br>24/ 7 Phone Support</div>
                        <a class="standart__card--purchase" href="/">purchase</a>
                    </div>
                </div>
            </div>
        </div>    
    </div>      
</section>