<section class="section__present">
    <div class="container">
        <div class="present__content--wrapper">
            <h2 class="section__title present__title">Revolutionary editor</h2>
            <p class="present__descr">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
            <ul class="present__actions">
                <li class="present__actions--item">
                    <button class="action__btn fork__btn">
                        <div class="action__btn--left-side">
                            <img class="action__icon" src="./images/section_present/icon-eye.svg" alt="Branch icon.">
                            <span class="action__text">Watch</span>
                        </div>
                        <span class="action__counter ">1,397</span>
                    </button>
                </li>
                <li class="present__actions--item">
                    <button class="action__btn fork__btn">
                        <div class="action__btn--left-side">
                            <img class="action__icon" src="./images/section_present/icon-star.svg" alt="Branch icon.">
                            <span class="action__text">Star</span>
                        </div>
                        <span class="action__counter ">21,038</span>
                    </button>
                </li>
                <li class="present__actions--item">
                    <button class="action__btn fork__btn">
                        <div class="action__btn--left-side">
                            <img class="action__icon" src="./images/section_present/icon-fork.svg" alt="Branch icon.">
                            <span class="action__text">Fork</span>
                        </div>
                        <span class="action__counter ">4,391</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>