<section class="section__features">
    <div class="container">
        <div class="features__content--wrapper">
            <h2 class="section__title features__title">&lt;Here is what you get&gt;</h2>
            <ul class="features__items">
                <li class="features__item">
                    <div class="features__icon--wrapper web__icon">
                        <img src="./images/section_features/icon-1.svg" alt="Web interface icon." class="features__icon">
                    </div>
                    <div class="features__descr">
                        <h3 class="features__descr--title">Creatred to Make The Web Better</h3>
                        <p class="features__descr--text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue. </p>
                    </div>
                </li>
                <li class="features__item">
                    <div class="features__icon--wrapper power__icon">
                        <img src="./images/section_features/icon-2.svg" alt="Power control knob icon." class="features__icon">
                    </div>
                    <div class="features__descr">
                        <h3 class="features__descr--title">Incredibly Powerful Tool</h3>
                        <p class="features__descr--text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                    </div>
                </li>
                <li class="features__item">
                    <div class="features__icon--wrapper flask__icon">
                        <img src="./images/section_features/icon-3.svg" alt="Flask with reagent icon." class="features__icon">
                    </div>
                    <div class="features__descr">
                        <h3 class="features__descr--title">Experimental Stuff</h3>
                        <p class="features__descr--text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                    </div>
                </li>
                <li class="features__item">
                    <div class="features__icon--wrapper loader__icon">
                        <img src="./images/section_features/icon-4.svg" alt="Loader icon." class="features__icon"> 
                    </div>
                    <div class="features__descr">
                        <h3 class="features__descr--title">Creatred to Make The Web Better</h3>
                        <p class="features__descr--text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="features__image--flex-wrapper">
        <div class="features__image--wrapper">
            <img src="./images/section_features/code.png" alt="Screenshot of part of the code." class="features__image">
        </div>
    </div>
</section>