@import './src/scss/mixins/mixins';
@import './src/scss/mixins/reset';
@import './src/scss/mixins/general';
@import "./src/scss/variables/colors";

.section {
  padding-top: 70px;
  text-align: center;
  background: rgba(0,0,0,0.0001);
   .content-revolutionary{
     max-width: 880px;
     margin: 0 auto;
     @include flex-column-center;
   }
  @media(max-width: 992px) {
    padding-bottom: 98px;
  }
  @media(max-width: 480px){
      padding: 8px 0 78px;
  }
   .revolution-header{
     margin-bottom: 35px;
     display: inline-block;
     font-size: 54px;
     text-transform: uppercase;
     color: $main-revolutionary-color;

     @media(max-width: 992px) {
        margin-bottom: 30px;
       font-size: 42px;
     }
     @media(max-width: 480px) {
     }
   }

  .information-about-revolutionary{
    margin-bottom: 24px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    line-height: 1.52;
    color: $main-dark-color;
    
    @media (max-width: 480px) {
      margin-bottom: 36px;
      font-size: 14px;
      line-height: 1.43;
    }
  }
  .actions {
     max-width: 365px;
    gap: 12px;
    @include flex-between-center;
    @media (max-width: 480px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .actions-item{
      @include flex-center;

      @media(max-width: 480px) {
        margin-bottom: 10px;
      }
      & img {
        margin-right:5px;
        width: 15px;
        height: 15px;
      }
      .btns {
        @include ResetButton;
        @include flex-center;
        height: 24px;
        font-family: -apple-systema,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        line-height: 1.67;
        font-size: 12px;
        color: #24292F;

        .btns-side {
          height: 100%;
          padding: 0 8px;
          @include flex-center;
          background: #F6F8FA;
          border: 1px rgba(27,31,16,0.15) solid;
          border-radius:5px 0 0 5px;
          box-shadow: 0 1px 0 rgba(27,31,36,0.04), inset 0 1px 0 rgba(255,255,255,0.25);
        }
        .value {
          height: 100%;
          padding: 0 6px;
          @include flex-center;
          border: 1px rgba(27,31,16,0.15)solid;
          border-left:none;
          border-radius: 0 5px 5px 0;
          box-shadow: 0 1px 0 rgba(27,31,36,0.04) , inset 0 1px 0 rgba(255,255,255, 0.25);
        }
      }
    }
  }
}