$main-color:#8D81AC;
$main-dark-color:#323232;
$secondary-dark-color:#848E97;
$main-light-text-color:#FFFFFF;
$main-revolutionary-color:#635C73;
$secondary-testominals-color:#A291A5;
$top-line-center:#645766;
